%div
%label Name:
%input{"ng-model" => "yourName", :placeholder => "Enter a name here", :type => "text"}/
%hr/
%h1 Hello {{yourName}}!

%p User: {{User.FirstName}}.

%h2 Todo
%div{"ng-controller" => "TodoCtrl"}
  %span {{remaining()}} of {{todos.length}} remaining
  [
  %a{:href => "", "ng-click" => "archive()"} archive
  ]
  %ul.unstyled
    %li{"ng-repeat" => "todo in todos"}
      %input{"ng-model" => "todo.done", :type => "checkbox"}/
      %span{:class => "done-{{todo.done}}"} {{todo.text}}

  %form{"ng-submit" => "addTodo()"}
    %input{"ng-model" => "todoText", :placeholder => "add new todo here", :size => "30", :type => "text"}/
    %input.btn-primary{:type => "submit", :value => "add"}/



/ Example row of columns
.row
  .span4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn{:href => "#"} View details »
  .span4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn{:href => "#"} View details »
  .span4
    %h2 Heading
    %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    %p
      %a.btn{:href => "#"} View details »
%hr/
